body {
  background-color: #fbf7ed;
  margin: 0px;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-container .content-container {
  display: flex;
}

.app-container .result-loading-container {
  display: flex;
  width: 50%;
}
