.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 6;
  background-color: #008060;
  font-family: 'Lobster', cursive;
}

.nav .nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem 4rem;
}

.nav .nav-content h1 {
  margin: auto 0;
}

.nav .nav-content h3 {
  font-family: 'Open Sans', sans-serif;
}

.nav .nav-content .dropdown {
  position: relative;
  display: inline-block;
}

.nav .nav-content .dropdown h2 {
  margin: auto 0;
  font-family: 'Lobster', cursive;
  color: black;
}

.nav .nav-content .dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 5px 5px black;
  background-color: #fbf7ed;
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  padding: 12px 12px;
  z-index: 6;
}

.nav .nav-content .dropdown:hover .dropdown-content {
  display: block;
}

@media only screen and (max-width: 768px) {
  .nav {
    height: 48px;
  }
  .nav .nav-content {
    margin: 0.5rem 1rem;
  }
}
