.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  background-color: #008060;
}

.nav .nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav .nav-content h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Anton', sans-serif;
}
