.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  background-color: #008060;
  font-family: 'Lobster', cursive;
}

.nav .nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 4rem;
}

.nav .nav-content h3 {
  font-family: 'Open Sans', sans-serif;
}

.nav .nav-content .dropdown {
  position: relative;
  display: inline-block;
}

.nav .nav-content .dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 5px 5px black;
  background-color: #fbf7ed;
  border: 5px solid black;
  padding: 12px 12px;
  z-index: 6;
}

.nav .nav-content .dropdown:hover .dropdown-content {
  display: block;
}
