.result-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 1150px;
  flex-basis: 70%;
  justify-content: space-around;
  margin: 1rem;
}

.result-list-container .movie-container {
  max-width: 200px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result-list-container .movie-container img {
  width: 100%;
  color: black;
}

.result-list-container .movie-container p {
  margin: 0px;
}

.result-list-container .movie-container .poster {
  position: relative;
}

.result-list-container .movie-container .poster .button-container {
  position: absolute;
  top: -5%;
  right: 10%;
  width: 40px;
  display: flex;
}

.result-list-container .movie-container .poster .button-container button {
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: #fbf7ed;
  background-color: #008060;
  box-shadow: 5px 5px black;
  border: none;
  padding: 0.75rem 0 0 0;
  width: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Anton', sans-serif;
}

.result-list-container .movie-container .poster .button-container button:disabled {
  display: none;
}

.result-list-container .movie-container .poster .button-container:hover {
  width: 45px;
  height: 185px;
  right: 9%;
}
