.search-container {
  display: flex;
  height: 100vh;
  position: fixed;
  border-right: 5px solid black;
  width: 25%;
  background-image: url("https://raw.githubusercontent.com/defsax/shoppies-challenge/master/public/resources/imgs/bg.png");
  background-size: 1000px 1000px;
  background-repeat: repeat;
}

.search-container form {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-container form input {
  border: none;
  background-color: #219ab7;
  box-shadow: 5px 5px black;
  padding: 1rem;
  color: white;
}

.search-container form input:focus {
  box-shadow: 10px 10px black;
  outline: 5px solid #ffb700;
}

@media only screen and (max-width: 768px) {
  .search-container {
    height: 25vh;
    position: fixed;
    top: 75px;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.75);
    align-items: center;
    border-right: none;
    border-bottom: 5px solid black;
    width: 100%;
  }
  .search-container form {
    position: initial;
  }
  .search-container form input {
    border: none;
    background-color: #219ab7;
    box-shadow: 5px 5px black;
    padding: 1rem;
    color: white;
  }
  .search-container form input:focus {
    box-shadow: 10px 10px black;
    outline: 5px solid #ffb700;
  }
}
