@mixin center-in-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin nominate-font {
  font-family: 'Anton', sans-serif;
}

@mixin nav-font {
  font-family: 'Lobster', cursive;
}

@mixin default-font {
  font-family: 'Open Sans', sans-serif;
}
