@mixin center-in-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin nominate-font {
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Anton', sans-serif;
}
