body {
  background-color: #fbf7ed;
  margin: 0px;
}

.app-container {
  .content-container {
    display: flex;
    padding-top: 46px;
    justify-content: flex-end;
  }
  .result-loading-container {
    display: flex;
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .app-container {
    .content-container {
      padding-top: 183px;
    }
    .result-loading-container {
      display: flex;
      width: 100%;
    }
  }
}
