@import './mixins';

.default-container {
  display: flex;
  max-height: 100vh;
  justify-content: center;

  position: fixed;
  width: 75%;
  top: 50%;

  @include default-font;
}

@media only screen and (max-width: 768px) {
  .default-container {
    width: 100vw;
    top: 40%;

    h1 {
      padding: 4rem;
    }
  }
}
