@import 'mixins';

.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 6;
  background-color: #008060;

  @include nav-font;

  .nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem 4rem;

    h1 {
      margin: auto 0;
    }

    h3 {
      @include default-font;
    }

    .dropdown {
      position: relative;
      display: inline-block;

      h2 {
        margin: auto 0;
        @include nav-font;
        color: black;
      }
    }

    .dropdown-content {
      display: none;
      position: absolute;
      min-width: 160px;
      box-shadow: 5px 5px black;
      background-color: #fbf7ed;
      border-left: 5px solid black;
      border-right: 5px solid black;
      border-bottom: 5px solid black;
      padding: 12px 12px;
      z-index: 6;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }
  }
}

@media only screen and (max-width: 768px) {
  .nav {
    height: 48px;
    .nav-content {
      margin: 0.5rem 1rem;
    }
  }
}
