@import 'mixins';

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  background-color: #fbf7ed;

  .nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h1 {
      @include nominate-font;
    }
  }
}
