@import 'mixins';

.result-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 1150px;
  flex-basis: 70%;
  justify-content: space-around;

  margin: 1rem;

  .movie-container {
    max-width: 200px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
      width: 100%;
      color: black;
    }

    p {
      @include nominate-font;
      margin: 0 0.5rem 0 0.5rem;
      font-size: 1.3rem;
      text-align: right;
    }

    .poster {
      position: relative;

      .button-container {
        position: absolute;
        top: -5%;
        right: 10%;

        width: 40px;

        display: flex;
        // justify-content: center;

        button {
          writing-mode: vertical-lr;
          text-orientation: upright;

          color: #fbf7ed;
          background-color: #008060;
          box-shadow: 5px 5px black;

          border: none;
          padding: 0.75rem 0 0 0;
          width: 100%;

          @include nominate-font;
        }
        button:disabled {
          display: none;
        }
      }

      .button-container:hover {
        width: 45px;
        height: 185px;

        right: 9%;
      }
      // button {
      //   position: absolute;
      //   top: 85%;
      //   right: 5%;

      //   background-color: transparent;
      //   border: 3px solid red;
      //   color: red;
      //   border-radius: 50%;
      //   width: 50px;
      //   height: 50px;
      // }
    }
  }
}
