@import 'mixins';

.result-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 70%;
  justify-content: space-around;

  margin: 1rem;

  .movie-container {
    max-width: 200px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
      width: 100%;
      color: black;
    }

    p {
      @include nominate-font;
      margin: 0 0.5rem 0 0.5rem;
      font-size: 1.3rem;
      text-align: right;
    }

    .poster {
      position: relative;

      .nominated-badge {
        // display: none;
        position: absolute;
        display: flex;
        top: 19%;
        left: 0%;
        rotate: -20deg;

        h4 {
          @include nominate-font;
          position: absolute;
          display: flex;
          top: 37%;
          left: -1%;
          color: white;
          font-size: 2rem;
          margin: 0;
          text-shadow: 5px 5px black;
          background-color: #e05263;
          padding: 0 2rem 0 2rem;
        }
      }

      .button-container {
        position: absolute;
        display: flex;
        top: -5%;
        right: 10%;
        width: 40px;
        height: 172px;

        button {
          writing-mode: vertical-lr;
          text-orientation: upright;

          color: #fbf7ed;
          background-color: #008060;
          box-shadow: 5px 5px black;

          border: none;
          padding: 0.75rem 0 0 0;
          width: 100%;

          @include nominate-font;
        }
        button:disabled {
          display: none;
        }
      }

      .button-container:hover {
        width: 45px;
        height: 185px;

        right: 9%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .result-list-container {
    flex-basis: 100%;
  }
}
