@import 'mixins';

.search-container {
  display: flex;
  height: 100vh;

  position: fixed;

  border-right: 5px solid black;
  width: 25%;

  background-image: url('https://raw.githubusercontent.com/defsax/shoppies-challenge/master/public/resources/imgs/bg.png');
  background-size: 1000px 1000px;
  background-repeat: repeat;

  justify-content: center;

  h2 {
    position: absolute;
    top: 30%;
    @include default-font;
    background-color: #ffb700;
    padding: 0.5rem;
    box-shadow: 5px 5px black;
  }

  form {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    width: 100%;

    input {
      border: none;

      background-color: #219ab7;
      box-shadow: 5px 5px black;
      padding: 1rem;

      color: white;
      width: 75%;
    }
    input:focus {
      box-shadow: 10px 10px black;
      outline: 5px solid #ffb700;
    }
  }
}

@media only screen and (max-width: 768px) {
  .search-container {
    flex-direction: column;
    align-items: center;

    height: 135px;
    width: 100vw;

    position: fixed;
    top: 48px;
    z-index: 5;

    background-color: rgba($color: #000000, $alpha: 0.75);

    border-right: none;
    border-bottom: 5px solid black;

    h2 {
      position: initial;
      margin: 0.6rem;
    }

    form {
      position: initial;

      input {
        border: none;

        background-color: #219ab7;
        box-shadow: 5px 5px black;
        padding: 1rem;

        color: white;
      }
      input:focus {
        box-shadow: 10px 10px black;
        outline: 5px solid #ffb700;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
}
