@import 'mixins';

.search-container {
  display: flex;
  flex-basis: 35%;
  height: 100vh;

  position: fixed;

  border-right: 5px solid black;
  width: 25%;

  background-image: url('https://raw.githubusercontent.com/defsax/shoppies-challenge/master/public/resources/imgs/bg.png');
  background-size: 1000px 1000px;
  background-repeat: repeat;

  form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      border: none;

      background-color: #219ab7;
      box-shadow: 5px 5px black;
      padding: 1rem;
    }
  }
}
